# Core LLM framework and community extensions
langchain==0.3.25 # Langchain for building language model apps
langchain-community==0.3.25 # Community integrations and extensions for Langchain

# Embeddings and vector databases
sentence-transformers==4.1.0 # Sentence Transformers for generating text embeddings
chromadb==1.0.12 # Chroma vector database for storing and querying embeddings

# Document processing
PyMuPDF==1.26.1
mkdocs== 1.6.1
pymdown-extensions==10.15
pygment==2.19.1

# UI
gradio==5.33.2 # Creating easy-to-use web interface

# Config and utilities
PyYAML==6.0.2
loguru==0.7.3

# Linting and formatting
black==25.1.0
pylint==3.3.7

# Testing
pytest==8.4.0

# Observability and tracing
langsmith==0.3.45